<div class="pagination2">
    <div class="title l">
        購買者資訊  
    </div>
    <div class="container l">
        <div class="content name">
            <span>姓名</span>
            <input v-model = 'user_data.name'  type="text" >
        </div>
        <div class="content phone">
            <span>電話</span>
            <input v-model = 'user_data.phone' type="text" >
        </div>
        <div class="content address">
            <span>收件地址</span>
            <input v-model = 'user_data.address' type="text" >
        </div>
        <div class="content email">
            <span>電子信箱</span>
            <input v-model = 'user_data.email' type="text" >
        </div>
        <div class="content connection">
            <span class="title-span" >可連絡時間</span>
            <div class="container-connection">      
                <span @click='product_connection_time(1)'
                :class="{active:user_data.connection == '上午'}">
                上午
                </span>
                <span @click='product_connection_time(2)'
                :class="{active:user_data.connection == '中午'}">
                    中午
                </span>
                <span @click='product_connection_time(3)'
                :class="{active:user_data.connection == '下午'}">
                    下午
                </span>     
            </div>
        </div>
        <div class="content remarks">
            <span>備註</span>
            <textarea v-midel = 'remarks' name="" id="" cols="30" rows="10" ></textarea>
        </div>
        <div class="button_box">
            <button class="next_btn" @click="next_step">下一步</button>
          </div>
    </div>
</div>

