<div class="pagination2">
    <div class="title">
        購買者資訊  
    </div>
    <div class="container">
        <div class="content name">
            <span>姓名</span>
            <input type="text" >
        </div>
        <div class="content phone">
            <span>電話</span>
            <input type="text" >
        </div>
        <div class="content address">
            <span>收件地址</span>
            <input type="text" >
        </div>
        <div class="content email">
            <span>電子信箱</span>
            <input type="text" >
        </div>
        <div class="content connection">
            <span class="title-span">可連絡時間</span>
            <div class="container-connection">
                <span><a>上午</a></span>
                <span><a>中午</a></span>
                <span><a>下午</a></span>     
            </div>
        </div>

        <div class="content remarks">
            <span>備註</span>
            <textarea name="" id="" cols="30" rows="10" style="border: none;"></textarea>
        </div>

    </div>
</div>