<div id="About" class="section2">
  <div class="title">
    雷神排氣管
    <span>PRODUCT COMPARE</span>
  </div>
  <div class="content">
    <p>Thor
      Exhaust雷神排氣管成立於2018年，專注於各式機車排氣管生產與製造。品質好的排氣管價格都很高，而價格便宜的排氣管品質都不夠穩定，於是我們創造了雷神，我們堅持我們的商品必須『簡約、時尚、超值』，售價親民並且品質優良穩定。
    </p>
    <p>相信雷神選擇雷神給你超值又有高品質。</p>
  </div>
  <div class='wrapper'>
    <div class='package brilliant'>
      <h4 class="name">雷神排氣管</h4>
      <hr>
      <ul>
        <li>
          <strong>性能：</strong>
          <span>經實測有效增加馬力與扭力</span>
        </li>
        <li>
          <strong>外觀：</strong>
          <span>精密手工魚鱗焊點，穩固又美觀</span>
        </li>
        <li>
          <strong>材質：</strong>
          <span>採用不鏽鋼304材質，耐用有質感</span>
        </li>
        <li>
          <strong>價格：</strong>
          <span>超高CP值，價格親民</span>
        </li>
      </ul>
    </div>
    <div class='package'>
      <h4 class="name">他牌排氣管</h4>
      <hr>
      <ul>
        <li>
          <strong>性能：</strong>
          <span>品質不穩定造成馬力提升效果有限</span>
        </li>
        <li>
          <strong>外觀：</strong>
          <span>焊接點粗糙，既不美觀也容易有安全疑慮</span>
        </li>
        <li>
          <strong>材質：</strong>
          <span>未標明使用材質</span>
        </li>
        <li>
          <strong>價格：</strong>
          <span>相同品項比較下，價格昂貴許多</span>
        </li>
      </ul>
    </div>
  </div>
</div>