<div class="section2">
    <div class="title">
        Exuhast-比較
    </div>
    <div class="back-color"></div>
    <div class='wrapper'>
        <div class='package brilliant'>
          <div class='name'>雷神排氣管</div>
          <hr>
          <ul>
            <li>
              <strong>性能：</strong>
              強大的動力
              <i class="fa fa-thumbs-o-up"></i>
            </li>
            <li>
              <strong>外觀：</strong>
              可客製的外觀
            </li>
            <li>
              <strong>材質：</strong>
              彩鈦防燙蓋
            </li>
            <li>
                <strong>價格：</strong>
                CP值高，價格優惠
            </li>
          </ul>
        </div>
        <div class='package'>
          <div class='name'>他牌排氣管</div>
          <hr>
          <ul>
            <li>
              <strong>性能：</strong>
              無強大的動力
              <i class="fa fa-thumbs-o-down"></i>
            </li>
            <li>
              <strong>外觀：</strong>
              不可客製的外觀
            </li>
            <li>
              <strong>材質：</strong>
              一般防燙蓋
            </li>
            <li>
                <strong>價格：</strong>
                CP值低
            </li>
          </ul>
        </div>
      </div>
</div>