
.home{
    background-color:#ffffff;
    .section1{
        animation: water-bottom infinite 7s ease-out;
        .banner{
            img{
                width: 100%;
                height: 100%;
                object-fit:cover;
            }
            @media (max-width:600px) {
                height: 200px;
            }
        }
    }
    .section2{
        max-width: 1200px;
        text-align: center;
        margin: 0 auto;
        font-family: 'Noto Sans TC', sans-serif;
        @media (max-width:1024px) {
            max-width: 80%;
        }

        .compare-title{
            padding: 60px 0;
            font-size: 44px;
            font-family: 'Noto Sans TC', sans-serif;
            font-weight: 900;
            @media (max-width:600px) {
                font-size: 34px;
                padding: 50px 0;
            }
        }
        .compare-container-title{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            // padding: 0 150px;
            .compare-product-container{
                margin: auto;
                .tx{
                    font-size: 22px;
                    width: 340px;
                    padding: 10px 0;
                    background-color: rgb(255, 255, 255);
                    // border: 2px solid black;
                    border-radius: 24px;
                    box-shadow: 0px 0px 20px rgb(196, 196, 196);
                    margin: 10px 0;
                    @media (max-width:768px) {
                        width: 240px;
                    }
                    @media (max-width:600px) {
                        padding: 5px 0;
                        width: 150px;
                        margin: auto;
                    }
                }
                .tx.self{
                    color: white;
                    background-color: rgb(0, 0, 0);
                    box-shadow: 0px 0px 20px rgb(196, 196, 196);
                }
                .img{
                    img{
                        width: 200px;
                        border-radius: 24px;
                        margin-top: 45px;
                        @media (max-width:600px) {
                            width: 80%;
                        }
                    }
                }
            }
        }

        .compare{
            .compare-list{
                // height: 500px;
                .hr{
                    hr{
                        border: none;
                        height: 2px;
                        background-color: rgb(218, 218, 218);
                    }
                }
                .title{
                    display: flex;
                    margin-top: 50px;
                    @media (max-width:1024px) {
                        margin-top: 20px;
                    }
                    @media (max-width:768px) {
                        margin-top: 0;
                    }
                    img{
                        margin: 25px 0;
                        flex-shrink: 0;
                        transition: .3s;
                        &:hover{
                            cursor: pointer;
                        }
                        &.active{
                            transform: rotate(.12turn);
                        }
                    }
                }
                .small-title{
                    text-align: left;
                    font-size: 24px;
                    margin: 20px 10px;
                    transition: .3s;
                    @media (max-width:600px) {
                        margin: 20px 20px;
                    }
                }
                .compare_container_main{
                    animation: pushheight .5s ease-out;
                    .compare-container{
                        display: flex;
                        flex-direction: column;
                        .compare-content{
                            width: 50%;
                            text-align: center;
                            margin: 10px auto;
                            // background-color: rgb(220, 220, 220);
                            // border-radius: 24px;
                            height: 50px;
                            line-height: 50px;
                        }
                        .tick{
                            display: flex;
                            justify-content: space-evenly;
                            background-color: rgb(232, 232, 232);
                            border-radius: 24px;
                            width: 100%;
                            margin: 0 auto;
                            @media (max-width:600px) {
                                width: 90%;
                            }
                            .img{
                                width: 50%;
                            }
                            .space{
                                width: 50%;
        
                            }
                        }
                    }
                }

            }
        }
    }

    .section3{
        position: relative;
        @media (max-width:600px) {
            margin: 30px 0;
        }
        .section3-back{
            position: absolute;
            top: 5vw;
            left: 0;
            background-color: #FDDE00;
            width: 100%;
            height: 60%;
            animation: water infinite 7s ease-out;
            @media (max-width:1200px) {
                height: 40vw;
            }
            @media (max-width:600px) {
                top: 35px;
                height: 90%;
            }
        }
        .section3-container{
            position: relative;
            z-index: 2;
            max-width: 1200px;
            margin: 100px auto;
            @media (max-width:1000px) {
                margin: 100px auto;
                margin-bottom: 0px;
            }
            .section3-title{
                position: relative;
                z-index: 2;
                padding: 70px 0;
                font-size: 44px;
                font-family: 'Noto Sans TC', sans-serif;
                font-weight: 600;
                text-align: center;
                @media (max-width:600px) {
                    font-size: 34px;
                    padding: 60px 0;
                }
            }
            .banner{
                position: relative;
                display: flex;
                justify-content: center;
                max-width: 1200px;
                width: 100%;
                height: 50vh;
                @media (max-width:950px) {
                    height: 50vw;
                }
                @media (max-width:600px) {
                    width: 55%;
                    margin: 0 auto;
                    height: 70vw;
                }
                .backimg1{
                    position: absolute;
                    top: 0;
                    left: 0;
                    // background-color: rgb(255, 255, 255);
                    border-radius: 24px;
                    clip-path: polygon(0 0, 75% 0, 25% 100%, 0 100%);
                    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);   
                    // transition: 1s;
                    transition-property: clip-path;
                    transition-duration: 1s;
                    overflow: hidden;
                    @media (max-width:600px) {
                        clip-path: polygon(0 0, 100% 0, 100% 25%, 0 50%);


                        &.active{
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                        }
                    }
                    .img1.mobile{
                        display: none;
                        @media (max-width:600px) {
                            display: block;
                        }
                    }

                    .content-title{
                        cursor: pointer;
                        position: absolute;
                        top: 3%;
                        right: 40%;
                        text-align: center;
                        transition-property: top , right;
                        transition-duration: .3s , 1s;
                        z-index: 2;
                        @media (max-width:600px) {
                            top: 2%;
                            right: 50%;
                            transform: translate(50%);
                            transition-duration: .6s , 1s;
                        }
                        span{
                            font-size: 36px;
                            display: inline-block;
                            width: 200px;
                            color: rgb(0, 0, 0);
                            background-color: rgb(255, 255, 255);
                            border-radius: 24px;
                            transition: .5s;
                            box-shadow: 1px 5px 10px 5px rgba(116, 116, 116, 0.475);
                            a{
                                display: block;
                            }
                            @media (max-width:768px) {
                                font-size: 24px;
                                width: 150px;
                            }
                            @media (max-width:600px) {
                                font-size: 36px;
                                width: 200px;
                            }
                            @media (max-width:400px) {
                                font-size: 24px;
                                width: 150px;
                            }
                        }
                    }

                    .content-back{
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 25%;
                        height: 100%;
                        background-color: rgba(182, 182, 182, 0.434);
                        opacity: 0;
                        transition-property: opacity , background-color;
                        transition-duration: 1s , .3s;
                        // transition: opacity 1s;
                        // transition: background-color .3s;
                        @media (max-width:1024px) {
                            width: 35%;
                        }
                        @media (max-width:600px) {
                            width: 100%;
                        }
                        .content{
                            margin-top: 90px;
                            color: rgb(0, 0, 0);
                            font-size: 20px;
                            font-weight: bold;
                            @media (max-width:1024px) {
                                margin-top: 0px;
                            }
                            p{
                                text-align: center;
                                background-color: rgba(255, 255, 255, 0.797);
                                padding: 10px 0;
                            }
                            span{
                                display: block;
                                text-align: left;
                                padding: 10px 40px;
                            }
                        }
                    }

                    &.active{
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);   
                        z-index: 10;
                        background-color: white;
                        .content-title{
                            right: 5%;
                            @media (max-width:1024px) {
                                right: 40%;
                            }
                            @media (max-width:600px) {
                                right: 50%;
                            }
                        }
                        .container-content{
                            @media (max-width:600px) {
                                position: absolute;
                                bottom: 0;
                                height: 35%;
                                width: 100%;   
                            }
                            .content-back{
                                opacity: 1;
                                transition-delay: 1s;
                                overflow: scroll;
                            }
                        }
                    }
                    &:hover{
                        background-color: white;
                        .content-title{
                            top: 1%;
                            span{
                                background-color: black;
                                color: white;
                            }
                        }
                    }

                }
                .backimg2{
                    position: absolute;
                    top: 0;
                    right: 0;
                    // background-color: black;
                    border-radius: 24px;
                    clip-path: polygon(75% 0, 100% 0, 100% 100%, 25% 100%);
                    transition:1s;
                    overflow: hidden;

                    @media (max-width:600px) {
                        clip-path: polygon(0 50%, 100% 25%, 100% 100%, 0 100%);


                        &.active{
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                        }
                    }
                    .img2.mobile{
                        display: none;
                        @media (max-width:600px) {
                            display: block;
                        }
                    }

                    &:hover{
                        background-color: black;
                        .content-title{
                            top: 86%;
                            @media (max-width:1150px) {
                                top: 82%;
                            }
                            @media (max-width:768px) {
                                top: 73%;
                            }
                            @media (max-width:600px) {
                                top: 90%;
                            }
                            @media (max-width:400px) {
                                top: 87%;
                            }
                            span{
                                background-color: white;
                                color: black;
                            } 
                        }
                    }
                    .content-title{
                        cursor: pointer;
                        position: absolute;
                        top: 88%;
                        right: 40%;
                        text-align: center;
                        font-size: 36px;
                        transition-property: top , right;
                        transition-duration: .3s , 1s;
                        z-index: 10;
                        
                       
                        @media (max-width:1150px) {
                            transition-property: top , right;
                            transition-duration: 1s , 1s;
                            top: 84%;
                        }
                        @media (max-width:768px) {
                            top: 78%;
                        }
                        @media (max-width:600px) {
                            top: 93%;
                            right: 50%;
                            transform: translate(50%);
                        }
                        @media (max-width:400px) {
                            top: 89%;
                        }
                        span{
                            display: inline-block;
                            width: 200px;
                            color: rgb(255, 255, 255);
                            background-color: rgb(0, 0, 0);
                            border-radius: 24px;
                            transition: .5s;
                            box-shadow: 1px 5px 10px 5px rgba(116, 116, 116, 0.475);
                            a{
                                display: block;
                            }
                            @media (max-width:768px) {
                                font-size: 24px;
                                width: 150px;
                            }
                            @media (max-width:600px) {
                                font-size: 36px;
                                width: 200px;
                            }                
                            @media (max-width:400px) {
                                font-size: 24px;
                                width: 150px;
                            }            
                        }
                    }

                    .content-back{
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 25%;
                        height: 100%;
                        background-color: rgba(182, 182, 182, 0.434);
                        opacity: 0;
                        transition: 1s;
                        @media (max-width:1024px) {
                            width: 35%;
                        }
                        @media (max-width:600px) {
                            top: 60%;
                            width: 100%;
                        }
                        .content{
                            margin-top: 80px;
                            color: rgb(255, 255, 255);
                            font-size: 20px;
                            // font-weight: bold;
                            @media (max-width:1024px) {
                                margin-top: 0px;
                            }
                            p{
                                text-align: center;
                                background-color: rgba(0, 0, 0, 0.797);
                                padding: 10px 0;
                            }
                            span{
                                display: block;
                                text-align: left;
                                padding: 10px 40px;
                            }
                        }
                    }

                    &.active{
                        background-color: black;
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                        &:hover{
                            .content-title{
                                top: 1%;
                            }
                        }
                        .content-title{
                            right: 5%;
                            top: 3%;
                            @media (max-width:1024px) {
                                right: 40%;
                                top: 3%;
                            }
                            @media (max-width:600px) {
                                top: 2%;
                                right: 50%;
                            }
                        }

                        .container-content{
                            @media (max-width:600px) {
                                position: absolute;
                                bottom: 20%;
                                height: 35%;
                                width: 100%;
                            }
                            .content-back{
                                opacity: 1;
                                transition-delay: .7s;
                                overflow: scroll;
                            }
                        }
                        
                    }
                }
                .img-hidden{
                    visibility: hidden;
                }
                img{
                    width: 100%;
                    @media (max-width:600px) {
                        margin: auto;
                        width: 90%;
                    }
                }
                .img1{
                    @media (max-width:600px) {
                        display: none;
                    }
                }
                .img2{
                    @media (max-width:600px) {
                        display: none;
                    }
                }
            }
        }
    }

    .section4{
        @media (max-width:600px) {
            margin-top: 250px;
        }
        .main.container{
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
            .main.title{
                padding: 60px 0;
                padding-bottom: 0px;
                font-size: 44px;
                font-family: 'Noto Sans TC', sans-serif;
                font-weight: 600;
                @media (max-width:840px) {
                    padding-bottom: 50px;
                }
                @media (max-width:600px) {
                    font-size: 34px;
                    padding: 170px 0;
                    padding-bottom: 50px;
                }
                @media (max-width:400px) {
                    font-size: 34px;
                    padding: 100px 0;
                }

            }
        }

    }
}