<div class="navbar">
    <!-- <div class="screen" :class='{active:menuopen}'>
        <div class="back-color" :class='{active:menuopen}'></div>
    </div> -->
    <div class="container" :class='{active:menuopen}'>

        <div class="icon">
            <a @click='menuopen=!menuopen'>
                <img class="content-icon" :class='{active:menuopen}' src="/img/menu.png" />
            </a>
            <img class="mainicon" src="/img/雷神LOGO-white.png" alt="">
        </div>

        <!-- <hr class="hr" :class='{active: menuopen}'> -->
        <div class="content" :class='{active:menuopen}'>
            <router-link to="/" class="navicon">
                <img src="/img/雷神LOGO-white.png" alt="">
            </router-link>
            <a @click="ScrollTo('About')" class="navtx">關於我們</a>
            <a @click="ScrollTo('ProductPreview')" class="navtx">產品介紹</a>
            <a @click="ScrollTo('OrderForm')" class="navtx">立即訂購</a>
        </div>
    </div>
</div>