<div class="pagination">
    <div class="container">
        <h3 class="form_title">
            商品資訊
        </h3>

        <div class="product main_product">

            <h4 class="title">品項<span>(六代勁戰、FNX需額外加收500元)</span></h4>

            <div class="option_container">

                <label class="card" v-for="item in product_data.products" :class="{active:product == item.id}">
                    <div class="card_title">
                        <input type="radio" name="product" :value="item.id" v-model="product" />
                        <p>{{item.name}}</p>
                    </div>
                    <span class="price">
                        NT$ {{item.price | priceFormat}}
                    </span>
                </label>

            </div>
        </div>

        <div class="product setting">
            <h4 class="title">內部設定</h4>

            <div class="option_container">
                <label class="card" v-for="item in product_data.power_option" :class="{active:power_option == item.id}">
                    <input type="radio" name="power_option" :value="item.id" v-model="power_option" />
                    <p>{{item.name}}</p>
                    <span class="price">
                        +NT$ {{item.price | priceFormat}}
                    </span>
                </label>
            </div>
        </div>

        <div class="product setting">
            <h4 class="title">防燙蓋</h4>
            <div class="option_container">
                <label class="card" v-for="item in product_data.case_option" :class="{active:case_option == item.id}">
                    <input type="radio" name="case_option" :value="item.id" v-model="case_option" />
                    <p>{{item.name}}</p>
                    <span class="price">
                        +NT$ {{item.price | priceFormat}}
                    </span>
                </label>
            </div>
        </div>

        <div class="product setting">
            <h4 class="title">使用車種</h4>
            <div class="option_container">
                <input v-model="model" type="text" placeholder="請輸入您的車種">
                <p class="error" v-if="errors.filter(item=>item.name == 'model').length > 0">
                    {{errors.filter(item=>item.name == 'model')[0].msg}}</p>
            </div>
        </div>

        <div class="form_footer">
            <p class="title">總計</p>
            <div>
                <p class="price"> NT$<strong>{{total_price | priceFormat}}</strong></p>
                <button class="next_btn" @click="DataVaild">下一步</button>
            </div>
        </div>
    </div>
</div>