<div class="pagination1">
    <div class="container">
        <div class="product main">

            <div class="title">
                <div class="tx">品項</div>
            </div>

            <div class="content" 
            v-for="item in product_data.products"
            @click="product_select(item.id)"
            :class="{active:product == item.id}">
                <div class="tx">
                    <a>{{item.name}}</a>
                </div>
                <div class="tx">
                    <span class="price">
                        NT$ {{item.price}}
                    </span>
                </div>
            </div>

        </div>
        <!-- <hr> -->
        <div class="product accessory">
            <div class="title">
                <div class="tx">內部設定</div>
            </div>

            <div class="content" 
            v-for="item in product_data.power_option"
            @click="option_select(item.id)"
            :class="{active:accessory == item.id}">
                <div class="tx">
                    <a>{{item.name}}</a>
                </div>
                <div class="tx">
                    <span class="price">
                        NT$ {{item.price}}
                    </span>
                </div>
            </div>
            
        </div>
        <!-- <hr> -->
        <div class="product setting">
            <div class="title">
                <div class="tx">防燙蓋</div>
            </div>
            <div class="content"
            v-for="item in product_data.case_option" 
            @click="setting_select(item.id)"
            :class="{active:setting == item.id}">
                <div class="tx">
                    <a>{{item.name}}</a>
                </div>
                <div class="tx">
                    <span class="price">
                        NT$ {{item.price}}
                    </span>
                </div>
            </div>
        </div>

        <!-- <hr> -->
        <div class="product motoname">
            <div class="title">
                <div class="tx">使用車款</div>
            </div>
            <div class="content ">
                    <span>請輸入車種</span>
                    <input v-model="model" type="text">
            </div>
        </div>

        <div class="button_box">
            <button class="next_btn" @click="next_step">下一步</button>
          </div>
    </div>
</div>