<div class="footer">
    <div class="main container top">
        <div class="border-top"></div>
        <div class="back-color"></div>
        <div class="footer-content">
            <div class="space"></div>
            <div class="container-main">
                <div class="logo">
                    <a href="#">
                        <img src="../../assets/icon/LOGO/雷神LOGO-white.png" alt="">
                    </a>
                </div>

               <div class="footer_right">
                <div class="container contact">
                    <div class="title">
                        <h3>Contact</h3>
                    </div>
                    <div class="tx">
                        <p>： zxcv853496@gmail.com</p>
                        <p>： 0978966582</p> 
                        <p>： 台中市南屯區精誠路504號2 F</p> 
                    </div>
                </div>
                <div class="container img">
                    <span></span>
                    <span></span>
                </div>
               </div>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <div class="copy">
                <span>Copyright &copy;  2021 雷神</span>
                <span>|</span>
                <span>
                    網頁設計: <a>泳欣設計</a>
                </span>
            </div>
         </div>
    </div>
</div>