<div class="footer">
    <div class="main container top">
        <div class="border-top"></div>
        <div class="back-color"></div>
        <div class="footer-content">
            <div class="logo">
                <a href="#">
                    <img src="../../assets/icon/LOGO/雷神LOGO-white.png" alt="">
                </a>
            </div>
            <div class="icon">
                <div class="img">
                    <a href="#">
                        <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/>
                    </a>  
                </div>
                <div class="img">
                    <a href="#">
                        <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
                    </a>
                </div>
            </div>
            <div class="content">
                <div class="title">關於 <span>|</span> 聯絡</div>
                <hr>
                <div class="tx">
                    <span>網頁設計:</span> <span>泳欣設計</span> 
                </div>
                <div class="tx phone">
                    <span>TAX:</span> <span>0978966582</span> 
                </div>
                <div class="tx address">
                    <span>地址:</span> <span>台中市南屯區精誠路504號2 F</span> 
                </div>
            </div>
            <div class="copy">
                Copyright &copy;  2014-2020 Bullking 
            </div>
        </div>
    </div>
    <!-- <div class="main container bottom">
        <div class="footer-copy">&copy;</div>
    </div> -->
</div>